@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

// Fonts
$primary-font: 'Hammersmith One';
$secondary-font: 'Open Sans';

// Colours
$primary-color: #333;
$secondary-color: #222;
$accent-color: #008080;
$text-color: #fff;