@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400&display=swap');

// Fonts
$primary-font: 'Source Sans Pro';
$secondary-font: 'Open Sans';

// Colours
$primary-color: #14682f;
$secondary-color: #eee;
$text-color: #333;