@import './common';

body {
    background-color: $secondary-color;
    color: $text-color;
}

.display-4 {
    color: $primary-color;
    font: {
        weight: 500;
    }
}

.img-fluid {
    border-radius: 50px;
    box-shadow: 2px 2px 20px #999;
}