<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head'); -%>
        <title>Krish Kalyan</title>
        <link rel="stylesheet" href="/css/home.css">
    </head>

    <body>
        <div class="container">
            <h1>Welcome</h1>
            <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
            <a class="btn btn-light btn-lg" href="/login" role="button">Login</a>
            <a class="btn btn-light btn-lg" href="/products" role="button">Products</a>
            <a class="btn btn-light btn-lg" href="/update" role="button">Update</a>
        </div>

        <%- include('partials/scripts'); -%>
    </body>
</html>