<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head'); -%>
        <title>Krishi Kalyan</title>
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
        <div class="container">
            <h1>Welcome to Krishi Kalyan</h1>
            <p>An initiative to help promote independent trading for farmers.</p>
            <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
            <a class="btn btn-light btn-lg" href="/login" role="button">Login</a>
            <a class="btn btn-light btn-lg" href="/products" role="button">Marketplace</a>
        </div>
        <%- include('partials/scripts'); -%>
    </body>
</html>