<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>Krish Kalyan</title>
</head>
<body>
    <div class="container">
        <h1>Welcome</h1>
        <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
        <a class="btn btn-light btn-lg" href="/login" role="button">Login</a>
        <a class="btn btn-light btn-lg" href="/update" role="button">Update</a>
    </div>
</body>
</html>