<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head'); -%>
        <title>Home</title>
    </head>
    <body>
        <h1>Welcome</h1>
        <a class="btn btn-light btn-lg" href="/update" role="button">Update</a>
        <form action="/logout" method="POST"> <button type="submit" class="btn btn-light btn-lg">Logout</button></form>
        <form action="/logoutall" method="POST"> <button type="submit" class="btn btn-light btn-lg">LogoutAll</button>
        </form>
        <form action="/delete" method="POST"> <button type="submit" class="btn btn-light btn-lg">Delete</button></form>
        <%- include('partials/scripts'); -%>
    </body>
</html>